
p {
    font-family: Lato;
    
  }
.uploadDocument{
    background-color: #cac4cd;
    width: 209px;
    height: 37px;
    font-size: 23px;
    text-align: center;
    /* margin-left: 504px; */
}
.uploadDocument:hover{
    background-color: rgb(165, 234, 244);
}
h1{
    text-align: center;
    font-family: ui-sans-serif;
}
span{
    text-align: center;
}
svg{
    width: 226px;
    height: 35px;
    margin-left: -106px;
}

button{
    margin-left: 59px;
    margin-top: 30%;

}
