<!-- <p>dax works!</p> -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>

</head>
<body>

    <div class="container-fluid" style="margin-top: 2%; ">
        <div class="row justify-content-center" >

            <div class="col-lg-12" >
                <div class="card text-dark" style="background-color: skyblue; margin-top: -2%; height: 120%;">
                    <h2 class="card-title text-dark mt-3" align="center">DAX  Creative push for Approval</h2>
                    <!-- <p class="card-text" align="center"> Creative push for Approval</p> -->
                    <hr class=" border position-relative " style="width: 80%; align-self: center; margin: 0px;">
                    <div class="card-body">
                        <form class="row g-3 mt-3 needs-validation" action="" method="" novalidate style="margin-left: 15%;width: 68%;">
                            <label for="url" class="form-label">Region </label>
                            <select class="form-select rounded-pill" name="state" id="validationCustom04" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="72126f27110f3fcbb7912ce60d317551">Australia</option>
                                <option value="6506c8c6f8f1a7a0e67d5bcb601f5f0a">United State</option>
                                <option value="3db936373909909fb7d955879dbed383">United Kingdom</option>
                                <option value="01671a26d71c72da2b0f1e1775efd6b6">Singapore</option>
                            </select>
                            <div class="col-md-3">
                                <label for="validationCustom04" class="form-label">Method Type</label>
                                <select class="form-select rounded-pill" name="state" id="validationCustom04" required>
                                    <option selected disabled value="">Choose...</option>
                                    <option value="get">GET</option>
                                    <option value="post">POST</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select a valid state.
                                </div>
                            </div>
                            <div class="col-md-9">
                                <label for="apikey" class="form-label">End Point Url</label>
                                <input type="text" class="form-control rounded-pill" name="" id="" value=""[readOnly]="true">
                                <div class="invalid-feedback">
                                    Please provide a valid key.
                                </div>
                            </div>
                            <label for="url" class="form-label">Lemma Media Url</label>
                            <div class="input-group has-validation">
                                <input type="url" class="form-control rounded-pill" name="" id="enterurl"
                                    aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Please Enter Valid Url.
                                </div>
                            </div>
                            <label for="url" class="form-label">Lemma Creative Id</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control rounded-pill" name="" id="Id"
                                    aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Please Enter Valid Id.
                                </div>
                            </div>
                            <label for="url" class="form-label">Seat Id</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control rounded-pill" name="" id="Id"
                                     required>
                                <div class="invalid-feedback">
                                    Please Enter Valid Id.
                                </div>
                            </div>
                            <label for="url" class="form-label">AD Domain (Lemma)</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control rounded-pill" name="" id="Id"
                                    aria-describedby="inputGroupPrepend" required>
                                <div class="invalid-feedback">
                                    Please Enter Valid Id.
                                </div>
                            </div>
                            <div class="col-md-12 text-center ">
                                <button class="btn btn-secondary" title="Submit Your Form" aria-label="Left Align" > <span class="fa fa-user-plus" aria-hidden="true"></span> Save </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>


