<link rel="stylesheet" href="sidenav.component.css">
<mat-nav-list>
    <div class="logo"> <img src="https://sandbox.lemmatechnologies.com/login/insidelogo.png" alt=""> 
    </div>
    <mat-divider></mat-divider>
    <div class="list">
      
   
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home" class="mt-3">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Integration Status
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/table-view"> 
      <mat-icon>square</mat-icon> Table View 
    </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 4 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 5 </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
  </div>
</mat-nav-list>