.page {
    color: white;
    padding: 0 ;
    background: #f1f5f9;
  }
  .page__box {
    
    background: white;
    font-size: 36px;
  }
  .page__content {
    min-height: calc(100vh - 100px);
    background: white;
    color: rgb(5, 0, 0);
    
  }
  
  